{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../static/auctions/styles.css">
    </head>
    <body>
        <div class="logo">
            <img src="../../static/auctions/MYMYCommerce.png" alt="MYMYCommerce">
            {% if user.is_authenticated %}
                <p class="logintext">Signed in as <strong>{{ user.username }}</strong>.</p> 
            {% else %}
                <p class="logintext">Not signed in.</p>
            {% endif %}
        </div>
            {% if user.is_authenticated %}
            <div class="logintextlink">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </div>
            {% else %}
            <div class="logintextlinktwo"><a class="nav-link" href="{% url 'login' %}">Log In</a></div>
            <div class="logintextlink"><a class="nav-link" href="{% url 'register' %}">Register</a></div>
            {% endif %}
        <div class="topnav">
            <a href="{% url 'index' %}">Active Listings</a>
            <a href="{% url 'categories' %}">Categories</a>
            <a href="{% url 'watchlist' %}">Watchlist</a>
            <a href="#contact">Create Listing</a>
        </div>       
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
